body {
    background-color: rgb(192, 170, 142);
    margin: 60px;
}

h1 {
    background-image: url(../images/main.jpg) ;
    font-size: 200 px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border:3px  solid darkred;
    color: white;
}
    





h4 {
    font-size: 100px;
    font-style: italic;
    font-family: cursive;
    text-align: center;
    text-shadow: coral;
    color: rgb(22, 15, 15);
    padding: 0px;
    margin: 1px ; 
    border:solid darkred
}

h5 {
    font-size: 80px;
    font-style: oblique;
    text-decoration: darksalmon;
    text-align: left;
}

.intro {
    font-size: 60px;
    text-align: center;
    font-style: oblique;
}
.contentformat {
    font-size: 40px;
    font-family: cursive;

}

h3 {
    text-align: center;
    font-size: 45 px;
    font-style: italic;
}

.details {
    background-color: whitesmoke;
    padding: 100px ;
    margin: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    border: 3px color darkred;


}