body {
    background-color: bisque;
    margin: 60px;
}
h1 {
    font-size: 200 px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border:3px  solid darkred;

}

.momimage {
    float right: ;
}

h4 {
    font-size: 100px;
    font-style: italic;
    font-family: cursive;
    text-align: center;
    text-shadow: coral;
    color: rgb(22, 15, 15);
    padding: 0px;
    margin: 1px ; 
    border:solid darkred 1px 

}
